@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    color: hsl(216, 12%, 54%);
}
body{
    height: 100vh;
    background: hsl(216, 12%, 8%);
}
main{
    height: 100%;
    display: grid;
    place-items: center;
}
.rating-container{
    background: linear-gradient(0deg,hsl(213, 19%, 10%), hsl(213, 19%, 15%));
    width: 19.5rem;
    height: 19.5rem;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.star-icon{
    background-color: hsl(210, 16%, 20%);
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 100%;
    margin-bottom: .4rem;
}
.heading{
    color: white;
    font-size: 1.40rem;
    font-weight: 700;
}
.description{
    line-height: 1.6;
    font-size: .75rem;
    font-weight: 400;
}
.rating-scores{
    display: flex;
    justify-content: space-between;
}
.score{
    width: 2.3rem;
    height: 2.3rem;
    background-color: hsl(213, 19%, 18%);
    border-radius: 100%;
    display: grid;
    place-items: center;
    border: none;
    margin: 1rem 0rem;
}
.submit{
    width: 100%;
    height: 2rem;
    border-radius: 50px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
    align-self: center;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .1rem;
}
.attribution { 
    position: absolute;
    font-size: 11px; 
    bottom: 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
.score:hover{
    cursor: pointer;
    transform: scale(1.13);
    background-color: hsl(211, 11%, 40%);
    color: white;
}
.score:focus{
    background-color: hsl(25, 97%, 53%);
    color: white;
}
.submit:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.tyc{
    background: linear-gradient(0deg,hsl(213, 19%, 10%), hsl(213, 19%, 15%));
    width: 19.5rem;
    height: 19.5rem;
    border-radius: 1rem;
    padding: 1rem 1.75rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.rating-score-container{
    background:hsl(213, 19%, 18%);
    border-radius: 50px;
    padding: .23rem .55rem .1rem .55rem;
}
#rating-text{
    color: hsl(25, 81%, 41%);
    font-size: 1rem;
}
.thankyou-heading{
    color: white;
    font-weight: 400;
    margin: 1rem 0rem .5rem 0rem;
}
.thankyou-ending{
    font-size: .85rem;
    text-align: center;
    line-height: 1.5;
}
.tyhp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
}   
.tysvg{
    scale: .8;
}